:root {
  --main-bg-color: #e5dada;
  --main-txt-color: #02040f;
  --hightlight-1: #002642;
  --hightlight-2: #840032;
  --hightlight-3: #e59500;
}

h1 {
  text-align: center;
  color: var(--hightlight-2);
  text-shadow: 2px 2px var(--hightlight-3);
}

body {
  font: caption;
  margin: auto;
  max-width: 45em;
  background-color: var(--hightlight-1);
  color: var(--main-txt-color);
}

#newtask {
  height: 38px;
  display: flex;
  align-items: stretch;
  margin-bottom: 0.5em;
}

#newtask button {
  font-size: large;
  background-color: var(--hightlight-3);
  border-color: var(--hightlight-3);
  color: var(--main-txt-color);
}

#newtask input {
  background-color: var(--main-bg-color);
  border-color: var(--hightlight-2);
  border-style: solid;
  border-radius: 0.25em;
  color: var(--main-txt-color);
  font-size: large;
  flex-grow: 1;
  margin-right: 0.25em;
}

#newtask input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: var(--hightlight-2);
}

hr {
  border: 0.1em dashed var(--hightlight-3);
  margin: 0.5em 0 0.5em 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  background-color: var(--main-bg-color);
  box-shadow: 0px 0px 0px 2px var(--hightlight-2) inset;
  border-radius: 0.25em;
  margin-top: 0.25em;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

li .complete {
  flex-grow: 0;
  margin: 0 0.2em 0 0.5em;
}

li div {
  flex-grow: 1;
  justify-content: flex-start;
  font-size: larger;
  margin-left: 0.2em;
}

li .editTask {
  background-color: #faf0f0;
  border-color: var(--hightlight-3);
  border-radius: 0.25em;
  color: var(--main-txt-color);
  font-size: large;
  flex-grow: 1;
  border-style: solid;
  justify-content: flex-start;
  font-size: larger;
  margin-right: 0.25em;
}

li .editTask:focus {
  outline-style: none;
  box-shadow: none;
  border-color: var(--hightlight-3);
  border-radius: 0.25em;
}

.menu {
  flex-grow: 0;
  height: 30px;
  width: 20px;
  justify-content: flex-end;
  margin-right: 0.25em;
}

.strike {
  color: #888;
  text-decoration: line-through;
  text-decoration-color: #555;
}

.dropdown-menu {
  background-color: var(--main-bg-color);
  border-color: #840032;
  border-width: 2px;
}

.dropdown-item:hover {
  background-color: #d5caca;
  cursor: pointer;
}

.dropdown-item:active {
  background-color: var(--hightlight-1);
}
